<a class='button {{addClassName}}' href='#'>{{title}}<svg
		xmlns='http://www.w3.org/2000/svg'
		width='16'
		height='16'
		viewBox='0 0 16 16'
		fill='none'
	>
		<g clip-path='url(#clip0_179_39)'>
			<path
				d='M11.4198 1.89032C11.5965 1.7137 11.8061 1.57361 12.0369 1.47803C12.2676 1.38245 12.5149 1.33325 12.7647 1.33325C13.0145 1.33325 13.2618 1.38245 13.4926 1.47803C13.7233 1.57361 13.933 1.7137 14.1096 1.89032C14.2862 2.06693 14.4263 2.27659 14.5219 2.50735C14.6175 2.7381 14.6666 2.98542 14.6666 3.23519C14.6666 3.48495 14.6175 3.73227 14.5219 3.96302C14.4263 4.19378 14.2862 4.40345 14.1096 4.58006L5.03171 13.6579L1.33331 14.6666L2.34197 10.9682L11.4198 1.89032Z'
				stroke='#C5C2CC'
				stroke-linecap='round'
				stroke-linejoin='round'
			/>
		</g>
		<defs>
			<clipPath id='clip0_179_39'>
				<rect width='16' height='16' fill='white' />
			</clipPath>
		</defs>
	</svg></a>