<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<title>Volos.spb</title>

	</head>

	<body>
		<div class='overlay '></div>
    <div class="form__two">
     
        <div class="form__two-wrapper">
          {{> title addClassName="title__block" title="Забронируйте свой стиль: Запишитесь прямо сейчас!"}}
          <div class="form__two-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M21 7L7 21" stroke="#ECE5E4" stroke-opacity="0.7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7 7L21 21" stroke="#ECE5E4" stroke-opacity="0.7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </div>
          <form id="form" action="#" method="POST" class='form-one'>
            <input pattern="[A-Za-zА-Яа-яЁё\s]+" maxlength="15" minlength='2' class='form__name' type="text" name="name"
              id="name" placeholder="Имя*" title="Пожалуйста, введите допустимое имя" required>
            <input minlength='18' type="tel" pattern="\+[0-9]{1,3}\s?\([0-9]{3}\)\s?[0-9]{3}-[0-9]{2}-[0-9]{2}"
              name="tel" id="phone-number" class='form__phone' placeholder="+7 (___) ___-__-__*"
              title="Пожалуйста, введите допустимый номер телефона" required>
            <textarea id="comment" class='form__text'
              placeholder="Комментарий (необязательное поле).&nbsp;Здесь вы можете оставить комментарий об индивидуальной особенности ваших волос, предпочтительной дате записи и т. д."></textarea>
            <div id="charCount" class='char-counts'></div>
            <button class='button button__pink button-validate'>Записаться<svg xmlns='http://www.w3.org/2000/svg'
                width='16' height='16' viewBox='0 0 16 16' fill='none'>
                <g clip-path='url(#clip0_179_39)'>
                  <path
                    d='M11.4198 1.89032C11.5965 1.7137 11.8061 1.57361 12.0369 1.47803C12.2676 1.38245 12.5149 1.33325 12.7647 1.33325C13.0145 1.33325 13.2618 1.38245 13.4926 1.47803C13.7233 1.57361 13.933 1.7137 14.1096 1.89032C14.2862 2.06693 14.4263 2.27659 14.5219 2.50735C14.6175 2.7381 14.6666 2.98542 14.6666 3.23519C14.6666 3.48495 14.6175 3.73227 14.5219 3.96302C14.4263 4.19378 14.2862 4.40345 14.1096 4.58006L5.03171 13.6579L1.33331 14.6666L2.34197 10.9682L11.4198 1.89032Z'
                    stroke='#C5C2CC' stroke-linecap='round' stroke-linejoin='round' />
                </g>
                <defs>
                  <clipPath id='clip0_179_39'>
                    <rect width='16' height='16' fill='white' />
                  </clipPath>
                </defs>
              </svg></button>




          </form>

          <p>Нажимая на кнопку, я принимаю <a href=" /documents/Политика_конфиденциальности_Москвитина_1.pdf"
              download>условия пользовательского соглашения</a> и даю согласие на обработку своих <a href="/documents/Политика_конфиденциальности_Москвитина_1.pdf" download>персональных
              данных.</a></p>

          <div class="request__photo">
           
          </div>

  

      </div>
    </div>
		<div class='success-message'>
      <h1 class="success-message__title">
        Благодарим за запись!
      </h1>
      <p>Мы свяжемся с Вами в ближайшее время</p>
			<div class="success-message__socials">
        <div class="success-message__text">
Или свяжитесь с нами прямо сейчас
        </div>
        <div class="success-message__soc">
          {{> phone addClassName="social-phone social-phone-white"}}
            {{> whatsapp}}
            {{> telegram}}
        </div>
      </div>
			<div class='success-message__close'>
				<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
  <path d="M21 7L7 21" stroke="#ECE5E4" stroke-opacity="0.7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M7 7L21 21" stroke="#ECE5E4" stroke-opacity="0.7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
			</div>
    
		</div>
    
		<section class="promo">
    <nav class="menu-burger">
      <ul class="menu-burger__items">
        <li class="menu-burger__item"><a href="#technology">Технология</a></li>
        <li class="menu-burger__item"><a href="#about">Студия</a></li>
        <li class="menu-burger__item"><a href="#works">Наши работы</a></li>
        <li class="menu-burger__item"><a href="#prices">Цены</a></li>
        <li class="menu-burger__item"><a href="#why">Почему мы?</a></li>
        <li class="menu-burger__item"><a href="#footer">Контакты</a></li>
      </ul>
      <div class="menu-burger__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M18 6L6 18" stroke="#3A3839" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M6 6L18 18" stroke="#3A3839" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="burger__right">
        {{> button title="Записаться" addClassName="button__pink button__open button__burger"}}
         <p class="burger__text">Или свяжитесь с нами прямо сейчас</p>
        <div class="burger__socials">
          <div class="burger__social">
            {{> phone addClassName="social-phone social-phone-white"}}
            {{> whatsapp}}
            {{> telegram}}
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <header class="header">
        <div class="burger">
          <span></span><span></span><span></span>
        </div>
        <a href='/' class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="114" height="72" viewBox="0 0 114 72" fill="none">
            <path d="M87.2002 59.3148V57.0439H88.289V59.3148H87.2002Z" fill="#231300" />
            <path
              d="M89.5957 43.6015C89.5957 42.1106 90.3785 41.3652 91.9441 41.3652C93.5097 41.3652 94.2898 42.1452 94.2898 43.7053V45.9415H93.201V43.743C93.201 43.0574 93.1183 42.5541 92.9529 42.2365C92.7876 41.9188 92.4568 41.7584 91.9579 41.7584C91.459 41.7584 91.1227 41.9188 90.9463 42.2365C90.7699 42.5573 90.6817 43.0574 90.6817 43.743V46.2969C90.6817 47.0077 90.7864 47.5613 90.9932 47.9639C91.2826 48.4828 91.6409 48.9735 92.0654 49.4358C92.4899 49.8982 92.8151 50.2756 93.0439 50.5712C93.2727 50.8669 93.4794 51.2034 93.6668 51.5809C94.0803 52.4332 94.2898 53.3673 94.2898 54.3832V57.2579C94.2898 58.7488 93.507 59.491 91.9441 59.491C90.3813 59.491 89.5957 58.711 89.5957 57.151V54.704H90.6845V57.1164C90.6845 57.8021 90.7672 58.3053 90.9325 58.623C91.0979 58.9406 91.4287 59.101 91.9276 59.101C92.4265 59.101 92.7628 58.9406 92.9392 58.623C93.1156 58.3022 93.2038 57.8021 93.2038 57.1164V54.6317C93.2038 53.1409 92.8813 51.9614 92.2391 51.0839C92.0323 50.8008 91.7374 50.458 91.3543 50.0554C90.9711 49.6528 90.5825 49.1622 90.1883 48.5835C89.7942 48.0048 89.5985 47.2876 89.5985 46.4384V43.6015H89.5957Z"
              fill="#231300" />
            <path
              d="M100.227 57.2928C100.227 58.7585 99.4195 59.4913 97.8015 59.4913C97.3247 59.4913 96.9305 59.4221 96.619 59.2775V66.4076H95.5303V41.5763H96.4619V41.6109C96.8561 41.397 97.3522 41.29 97.9531 41.29C99.4663 41.29 100.222 42.048 100.222 43.5609V57.2897L100.227 57.2928ZM99.1383 43.7056C99.1383 42.9947 99.0667 42.5041 98.9206 42.2336C98.7745 41.9631 98.4603 41.8247 97.9724 41.8247C97.4845 41.8247 97.1427 41.9317 96.947 42.1455C96.7486 42.3594 96.6411 42.7714 96.6218 43.3879V57.1167C96.6218 57.8024 96.6935 58.2867 96.8395 58.5698C96.9856 58.8529 97.3054 58.9944 97.8043 58.9944C98.3032 58.9944 98.6477 58.8654 98.8462 58.6044C99.0419 58.3433 99.1411 57.8716 99.1411 57.1859V43.7056H99.1383Z"
              fill="#231300" />
            <path
              d="M106.194 57.2929C106.194 58.7585 105.411 59.4914 103.846 59.4914C102.28 59.4914 101.5 58.7365 101.5 57.2205V32.71H102.589V41.5417C102.942 41.3781 103.385 41.2932 103.926 41.2932C105.439 41.2932 106.194 42.0512 106.194 43.5641V57.2929ZM105.105 43.7056C105.105 42.9948 105.034 42.5041 104.888 42.2336C104.741 41.9632 104.427 41.8248 103.939 41.8248C103.451 41.8248 103.104 41.9317 102.897 42.1456C102.691 42.3594 102.586 42.784 102.586 43.4225V57.1167C102.586 57.8024 102.658 58.2868 102.804 58.5698C102.95 58.8529 103.27 58.9944 103.768 58.9944C104.267 58.9944 104.612 58.8655 104.81 58.6044C105.006 58.3434 105.105 57.8716 105.105 57.1859V43.7056Z"
              fill="#231300" />
            <path
              d="M16.3538 12.9053L11.8416 59.1052H11.0312L7.04004 12.9053H9.0632L11.9546 49.6696L15.5406 12.9053H16.351H16.3538Z"
              fill="#231300" />
            <path
              d="M33.0681 55.3433C33.0681 58.0733 31.6127 59.4352 28.702 59.4352C25.7913 59.4352 24.3359 58.0262 24.3359 55.2112V16.6007C24.3359 13.8738 25.7913 12.5088 28.702 12.5088C31.6127 12.5088 33.0681 13.9178 33.0681 16.7328V55.3433ZM31.0449 16.997C31.0449 15.676 30.9098 14.7639 30.6397 14.2575C30.3696 13.7511 29.7715 13.4995 28.8453 13.4995C27.9192 13.4995 27.2742 13.7291 26.9076 14.1915C26.541 14.6538 26.3591 15.5219 26.3591 16.7988V55.0131C26.3591 56.29 26.4942 57.1895 26.7643 57.7179C27.0344 58.2463 27.6325 58.5105 28.5559 58.5105C29.4793 58.5105 30.127 58.2684 30.4936 57.784C30.8602 57.2996 31.0421 56.4221 31.0421 55.1452V16.997H31.0449Z"
              fill="#231300" />
            <path d="M41.2217 12.9053H43.2448V58.1176H48.8568V59.1083H41.2217V12.9053Z" fill="#231300" />
            <path
              d="M65.571 55.3433C65.571 58.0733 64.1156 59.4352 61.2049 59.4352C58.2942 59.4352 56.8389 58.0262 56.8389 55.2112V16.6007C56.8389 13.8738 58.2942 12.5088 61.2049 12.5088C64.1156 12.5088 65.571 13.9178 65.571 16.7328V55.3433ZM63.5478 16.997C63.5478 15.676 63.4128 14.7639 63.1426 14.2575C62.8725 13.7511 62.2744 13.4995 61.3483 13.4995C60.4221 13.4995 59.7771 13.7291 59.4105 14.1915C59.0439 14.6538 58.862 15.5219 58.862 16.7988V55.0131C58.862 56.29 58.9971 57.1895 59.2672 57.7179C59.5373 58.2463 60.1355 58.5105 61.0588 58.5105C61.9822 58.5105 62.63 58.2684 62.9966 57.784C63.3632 57.2996 63.5451 56.4221 63.5451 55.1452V16.997H63.5478Z"
              fill="#231300" />
            <path
              d="M73.7852 16.6667C73.7852 13.8958 75.2405 12.5088 78.1512 12.5088C81.0619 12.5088 82.5173 13.9619 82.5173 16.8649V26.1055H80.4941V16.9309C80.4941 15.654 80.3398 14.7199 80.0311 14.1254C79.7223 13.531 79.1049 13.2353 78.1815 13.2353C77.2582 13.2353 76.6297 13.531 76.3017 14.1254C75.9737 14.7199 75.8111 15.654 75.8111 16.9309V24.8506C75.8111 26.5238 76.004 27.7536 76.3899 28.5462C76.9302 29.7351 77.5944 30.8139 78.3855 31.7795C79.1766 32.7482 79.783 33.5502 80.2075 34.1887C80.6319 34.8272 81.0178 35.5631 81.3651 36.3998C82.1369 38.2491 82.5228 40.4256 82.5228 42.9323V55.2741C82.5228 58.045 81.0674 59.4321 78.1567 59.4321C75.246 59.4321 73.7907 57.979 73.7907 55.076V45.9014H75.8138V55.0099C75.8138 56.2869 75.9682 57.221 76.2769 57.8154C76.5856 58.4099 77.203 58.7055 78.1264 58.7055C79.0498 58.7055 79.6782 58.4099 80.0062 57.8154C80.3343 57.221 80.4969 56.2869 80.4969 55.0099V43.4607C80.4969 40.954 80.3039 39.1927 79.918 38.1799C79.3778 36.686 78.7135 35.431 77.9224 34.4183C77.1314 33.4055 76.525 32.6161 76.1005 32.0436C75.676 31.4712 75.2901 30.8548 74.9428 30.1943C74.171 28.6531 73.7852 26.983 73.7852 25.1777V16.6636V16.6667Z"
              fill="#231300" />
          </svg></a>


        <nav class="menu">
          <ul class="menu__items">
            <li class="menu__item"><a href="#technology">Технология</a></li>
            <li class="menu__item"><a href="#about">Студия</a></li>
            <li class="menu__item"><a href="#works">Наши работы</a></li>
            <li class="menu__item"><a href="#prices">Цены</a></li>
            <li class="menu__item"><a href="#why">Почему мы?</a></li>
            <li class="menu__item"><a href="#footer">Контакты</a></li>
          </ul>
        </nav>
        <div class="header__socials">
          {{> phone addClassName="social-phone"}}
          {{> whatsapp}}
          {{> telegram}}
        </div>
      </header>




      <div class="promo__wrapper">

        <div class="promo__left">
          {{> title title="Наращивание волос по итальянской технологии"}}
          <h3 class="subtitle">Идеальное решение для желающих получить длинные волосы в Санкт-Петербурге. <br> Быстро и безопасно</h3>

            {{>button title='Записаться' addClassName="button__black button__open"}}
            {{>button title='Записаться' addClassName="button__pink button__open"}}
          <div href="#" class="phone">
            {{> phone addClassName="social-phone"}}
            {{> phone addClassName="social-phone social-phone-white"}}
            <a href="tel:+79620067992" class="phone__number">+ 7 (962) 006 79 92</a>
          </div>
        </div>
        <div class="promo__right">
          <img src="/images/girl.jpeg" alt="girl">
        </div>
      </div> 


    </div>




  </section> 

		<section class="technology" id='technology'>
    <div class="container">
      <div class="technology__wrapper">
        <div class="technology__items">
          <div class="technology__photo"><img src="/images/tech1.jpeg" alt="technology"></div>
          <div class="technology__photo"><img src="/images/tech2.jpeg" alt="technology"></div>
          <div class="technology__photo"><img src="/images/tech3.jpeg" alt="technology"></div>
        </div>

        <div class="technology__description">
          {{> title addClassName="title__block" title="Кератиновая технология из Италии"}}
          <div class="technology__text">
            <p>Кератиновое наращивание волос по итальянской технологии осуществляется с помощью подогретого кератина
              при определенной температуре. </p>
            <p>Кератин – это природный белок, содержащийся в наших волосах, что делает итальянский кератин похожим
              на естественный протеин, не повреждая при этом волосы. </p>
            <p>Капсулы, используемые в этом процессе, невидимы, прочны и комфортны в повседневной носке, не вызывая
              дискомфорта. Этот метод подходит для блондинок, а также для волос, склонных к пористости, тонкости,
              сухости и ломкости. </p>
            <p>Для сохранения долговременного эффекта рекомендуется коррекция через 2-3 месяца.</p>
          </div>

          <div class="technology__classes">
            <div class="technology__class">Подходит для всех типов волос</div>
            <div class="technology__class">Естественный кератин</div>
            <div class="technology__class">Невидимый комфорт</div>
            <div class="technology__class">Безопасность и прочность</div>
            <div class="technology__class">Долговременное качество</div>
          </div>

          {{> button title="Записаться" addClassName="button__pink button__open"}}
        </div>
      </div>
    </div>
  </section>  

		<section class="about" id='about'>
    <div class="container">
      <div class="about__wrapper">
        <div class="about__description">
          <div class="about__top">
            {{> title addClassName="title__block" title="О студии"}}
            <div class="about__texts">
              <p>Место, где стилисты становятся художниками, а ваши волосы – полотно для создания шедевров. </p>
              <p>Доверьте нам свои волосы, и мы создадим идеальный образ для вашей уверенности и сияния.</p>
            </div>
          </div>
          <div class="about__bottom">
            <h3 class="subtitle subtitle_white">Наш материал</h3>
            <div class="about__items">
              <div class="about__item">Натуральные, мягкие, живые</div>
              <div class="about__item">Окрашенные из отборного сырья и неокрашенные волосы</div>
              <div class="about__item">Фабричные волосы премиального качества</div>
              <div class="about__item about__item-sleep">Детские волосы с одноголовыми срезами самого высшего качества
              </div>
              <div class="about__item about__item-top">Детские волосы с одноголовыми срезами высшего качества
              </div>
            </div>
          </div>
        </div>
        <div class="about__photos">
          <div class="about__photo">
            <h3 class="about__photo-title">Подбор среза</h3>
            <div class="about__photo-texts">
              <p>Отталкиваемся от типа, структуры и оттенка исходника </p>
              <p>Гарантируем идеальное попадание</p>
            </div>
          </div>
          <div class="about__photo">
            <h3 class="about__photo-title">Капсулирование</h3>
            <div class="about__photo-texts">
              <p>Вручную формируем микро/нано прядь индивидуально под каждую зону</p>
            </div>
          </div>
          <div class="about__photo">
            <h3 class="about__photo-title">Расположение капсул</h3>
            <div class="about__photo-texts">
              <p>Составляем схему расположения капсул, перекроем любые переходы</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 

		<section class="works" id='works'>
    <div class="container">

      <div class="works__wrapper">
        {{> title addClassName="title__block" title="Наши работы"}}
        <div class="swiper-contover">
          <div class="swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">

                <img src="/images/slides/slide1.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide2.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide3.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide4.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide5.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide6.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide7.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide8.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide9.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide10.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide11.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide12.jpeg" alt="slide">
              </div>
              <div class="swiper-slide">

                <img src="/images/slides/slide13.jpeg" alt="slide">
              </div>
            </div>

          </div>
        </div>
        {{!-- <div class="swiper-pagination"></div> --}}

        <div class="swiper-button-custom-prev"><svg xmlns="http://www.w3.org/2000/svg" width="56" height="56"
            viewBox="0 0 56 56" fill="none">
            <path
              d="M35 41.9999C29.9115 38.3203 25.3484 34.0131 21.4266 29.1902C20.8578 28.4907 20.8578 27.5092 21.4266 26.8097C25.3484 21.9868 29.9115 17.6796 35 13.9999"
              stroke="#ECE5E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg></div>
        <div class="swiper-button-custom-next"><svg xmlns="http://www.w3.org/2000/svg" width="57" height="56"
            viewBox="0 0 57 56" fill="none">
            <path
              d="M21.25 41.9999C26.3385 38.3203 30.9016 34.0131 34.8234 29.1902C35.3922 28.4907 35.3922 27.5092 34.8234 26.8097C30.9016 21.9868 26.3385 17.6796 21.25 13.9999"
              stroke="#ECE5E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg></div>

        <div class="swiper-contor-scrollbar">
          <div class="swiper-scrollbar"></div>
        </div>

      </div>
    </div>
  </section> 

		<section class="prices" id='prices'>
    <div class="container">
      {{> title addClassName="title__block" title="Цены"}}
      <div class="prices__wrapper">
        <div class="prices__right">
          <h3 class="subtitle subtitle_white">Стоимость работ</h3>
          <div class="prices__text">
            Цена указана за 1 прядь
          </div>
          <h2 class="prices__title prices__title-two">Волосы славянского типа, окрашенные</h2>
          <ul>
            <li>
              <div class="prices__name">40 см</div>
              <div class="prices__line"></div>
              <div class="prices__price">120 ₽</div>
            </li>
            <li>
              <div class="prices__name">50 см</div>
              <div class="prices__line"></div>
              <div class="prices__price">140 ₽</div>
            </li>
            <li>
              <div class="prices__name">60 см</div>
              <div class="prices__line"></div>
              <div class="prices__price">160 ₽</div>
            </li>
            <li>
              <div class="prices__name">70 см</div>
              <div class="prices__line"></div>
              <div class="prices__price">180 ₽</div>
            </li>
          </ul>
          <h2 class="prices__title prices__title-two">Волосы славянского типа, неокрашенные, детские</h2>
          <ul class='prices__list'>
            <li>
              <div class="prices__name">40 см</div>
              <div class="prices__line"></div>
              <div class="prices__price">от 150 ₽</div>
            </li>
          </ul>
          <p class="prices__bottom-text">
            (в зависимости от длины, структуры, оттенка)
          </p>
        </div>
        <div class="prices__block">
          <h3 class="subtitle subtitle_white">Стоимость работ</h3>
          <div class="prices__text">
            Цена указана за 1 прядь (без волос)
          </div>
          <ul>
            <li>
              <div class="prices__name">Наращивание </div>
              <div class="prices__line"></div>
              <div class="prices__price">35 ₽</div>
            </li>
            <li>
              <div class="prices__name">Снятие</div>
              <div class="prices__line"></div>
              <div class="prices__price">10 ₽</div>
            </li>
            <li>
              <div class="prices__name">Капсуляция</div>
              <div class="prices__line"></div>
              <div class="prices__price">15 ₽</div>
            </li>
            <li>
              <div class="prices__name">Коррекция</div>
              <div class="prices__line"></div>
              <div class="prices__price">50 ₽</div>
            </li>
            <li>
              <div class="prices__name">Колтуны</div>
              <div class="prices__line"></div>
              <div class="prices__price">от 500 до 3000 ₽</div>
            </li>
          </ul>
          <p class="prices__bottom-text">
            (в зависимости от сложности)
          </p>
        </div>


      </div>
      <div class="prices__questions">
        {{> button title="Записаться" addClassName="button__pink button__open"}}
        <div class="prices__socials">
          <div class="prices__left">
            <h3 class="subtitle subtitle_white">Остались вопросы?</h3>
            <p class="prices__left-text">Свяжитесь с нами любым удобным образом</p>
          </div>
          <div class="prices__social">
            {{> phone addClassName="social-phone social-phone-white"}}
            {{> whatsapp}}
            {{> telegram}}
          </div>
        </div>
      </div>
    </div>
  </section>  

		<section class="why-me" id='why'>
    <div class="container">
      {{> title addClassName="title__block" title="Почему мы?"}}
      <div class="why-me__items">
        <div class="why-me__item">
          <div class="why-me__img"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="36" viewBox="0 0 40 36"
              fill="none">
              <path
                d="M6.1713 35.1511C5.24369 35.3352 4.71722 30.1701 4.71722 30.1701C4.71722 30.1701 3.91207 30.295 3.91323 32.3987C1.53155 31.8091 2.55188 22.7471 2.55188 22.7471C2.55188 22.7471 1.12934 22.4987 0.0459303 23.3341C-0.35511 22.4987 1.99504 21.4482 1.99504 21.4482C1.99504 21.4482 1.43819 21.0143 0.446971 21.2306C0.263544 20.6127 2.08839 20.1788 2.08839 20.1788C2.08839 20.1788 1.50128 19.5917 0.325251 19.6832C0.480946 18.9107 1.96593 18.8786 1.96593 18.8786C1.96593 18.8786 2.86009 14.4254 2.79955 13.7129C2.73901 13.0016 2.95535 11.9183 0.758362 15.1367C0.665749 7.80628 6.72793 7.80628 8.46079 6.19651C10.1923 4.58917 13.551 3.77153 14.2456 3.10356C14.9407 2.43494 16.6897 0.784952 18.0504 0.845494C16.5352 2.02152 15.2962 3.53741 16.5957 3.1351C22.6612 1.09391 27.4542 1.86709 29.8679 3.19691C32.2805 4.52736 38.438 9.16965 39.6443 15.8808C40.8504 22.5925 38.6395 23.2118 38.1599 24.3265C40.6343 30.4185 35.0354 34.905 35.0354 34.905C35.0354 34.905 35.5298 25.4068 33.2408 24.1708C32.5919 23.8618 33.0232 26.4289 31.974 27.2953C32.0653 24.1411 30.8901 21.3567 30.8901 21.3567C30.8901 21.3567 31.2608 23.3984 30.5811 24.2946C30.4587 22.0673 29.4057 20.552 29.4057 20.552C29.4057 20.552 30.0237 22.841 29.0349 23.4911C28.9126 21.416 27.7681 19.5608 27.7681 19.5608C27.7681 19.5608 27.5221 20.4112 27.6123 22.5629C27.0252 21.3245 22.5078 15.3239 21.5784 16.9628C20.6508 18.6029 26.7138 22.841 26.7434 25.2227C24.704 23.1203 16.8151 16.1885 15.7318 15.6632C14.6485 15.1379 18.7641 21.4481 21.4536 23.3971C19.2585 23.1487 16.3806 20.2418 16.3806 20.2418C16.3806 20.2418 18.2055 23.5826 19.5663 24.7269C18.174 25.4068 15.1112 21.3245 14.4624 20.4284C14.5241 21.4494 14.4822 22.9708 17.174 24.9199C14.6064 25.7541 11.9578 18.7858 11.6173 19.5003C10.7817 23.0882 12.6054 25.6256 15.081 27.6674C12.3903 27.6352 8.27462 22.5938 8.27462 22.5938C8.27462 22.5938 7.09986 26.9244 9.23493 27.8514C5.58302 28.131 5.64483 33.1094 6.1713 35.1511Z"
                fill="#120E14" />
            </svg></div>
          <div class="why-me__title">Наращивание волос от 3 см</div>
          <div class="why-me__text">Благодаря инновационным технологиям, мы создаем естественный и стильный образ даже
            для клиентов с короткими волосами</div>
        </div>
        <div class="why-me__item">
          <div class="why-me__img"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="40" viewBox="0 0 34 40"
              fill="none">
              <path
                d="M14.979 7.56331L14.8572 7.48486L14.7158 7.44585C14.6169 7.41826 12.2725 6.76367 8.50854 6.76367C4.74612 6.76367 2.40108 7.41826 2.30043 7.44585L2.16033 7.48486L2.03553 7.56331C1.28568 8.04396 0.74231 9.03866 0.74231 9.93034V38.0118C0.74231 39.1087 1.63248 39.999 2.73021 39.999H14.2856C15.3835 39.999 16.2737 39.1087 16.2737 38.0118V9.93034C16.2745 9.03866 15.7301 8.04504 14.979 7.56331ZM15.2796 38.0118C15.2796 38.4646 14.9701 38.8302 14.5561 38.9505V17.9375C14.5561 17.7554 14.4063 17.4534 14.2507 17.2924C13.6368 17.1424 11.5429 16.7032 8.50832 16.7032C5.47313 16.7032 3.38005 17.1424 2.76512 17.2924C2.6108 17.4534 2.46079 17.7552 2.46079 17.9375V38.9507C2.04674 38.8302 1.73507 38.4646 1.73507 38.012V9.93034C1.73507 9.38201 2.11183 8.69618 2.57243 8.40003C2.57243 8.40003 4.84031 7.75493 8.5066 7.75493C12.1748 7.75493 14.4416 8.40003 14.4416 8.40003C14.9022 8.69488 15.2775 9.38072 15.2775 9.93034V38.0118H15.2796Z"
                fill="#120E14" />
              <path d="M13.2612 0H3.75684V5.7779H13.2612V0Z" fill="#120E14" />
              <path
                d="M27.1221 10.8174H31.2701C32.362 10.8174 33.2578 10.5809 33.2578 10.2884C33.2578 9.99596 32.3622 9.75952 31.2701 9.75952H27.5185C28.0881 8.71869 29.0374 8.02617 30.1099 8.02617C31.8396 8.02617 33.2561 7.73132 33.2561 7.37051C33.2561 7.01078 31.4656 6.71484 29.2807 6.71484H24.6395C22.4553 6.71484 20.6642 8.50466 20.6642 10.6917V35.9789C20.6642 38.1647 22.4555 39.955 24.6395 39.955H29.2807C31.4658 39.955 33.2561 39.6601 33.2561 39.2991C33.2561 38.9361 31.8387 38.6408 30.1099 38.6408C29.0363 38.6408 28.0858 37.9543 27.5185 36.9096H31.2701C32.362 36.9096 33.2578 36.6738 33.2578 36.3814C33.2578 36.0912 32.3622 35.8529 31.2701 35.8529H27.1221C27.0266 35.4755 26.9609 35.0791 26.9609 34.6652V34.2984H31.268C32.3597 34.2984 33.2561 34.0613 33.2561 33.7699C33.2561 33.4798 32.3622 33.2416 31.268 33.2416H26.9609V31.6898H31.268C32.3597 31.6898 33.2561 31.4525 33.2561 31.1613C33.2561 30.8688 32.3622 30.633 31.268 30.633H26.9609V29.0796H31.268C32.3597 29.0796 33.2561 28.8425 33.2561 28.55C33.2561 28.2578 32.3622 28.0218 31.268 28.0218H26.9609V26.4697H31.268C32.3597 26.4697 33.2561 26.2339 33.2561 25.9414C33.2561 25.6513 32.3622 25.4131 31.268 25.4131H26.9609V23.861H31.268C32.3597 23.861 33.2561 23.625 33.2561 23.3327C33.2561 23.0403 32.3622 22.803 31.268 22.803H26.9609V21.2498H31.268C32.3597 21.2498 33.2561 21.0142 33.2561 20.7215C33.2561 20.429 32.3622 20.1932 31.268 20.1932H26.9609V18.6394H31.268C32.3597 18.6394 33.2561 18.4034 33.2561 18.1114C33.2561 17.8191 32.3622 17.5822 31.268 17.5822H26.9609V16.0301H31.268C32.3597 16.0301 33.2561 15.7937 33.2561 15.5012C33.2561 15.2094 32.3622 14.9734 31.268 14.9734H26.9609V13.4189H31.268C32.3597 13.4189 33.2561 13.1825 33.2561 12.89C33.2561 12.5981 32.3622 12.3621 31.268 12.3621H26.9609V12.0058C26.9609 11.5905 27.0266 11.1967 27.1221 10.8174Z"
                fill="#120E14" />
            </svg></div>
          <div class="why-me__title">Авторская техника расстановки капсул</div>
          <div class="why-me__text">Наш подход обеспечивает идеальное сочетание комфорта, естественного вида и
            долговременной устойчивости наращенных прядей</div>
        </div>
        <div class="why-me__item">
          <div class="why-me__img"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
              fill="none">
              <g clip-path="url(#clip0_199_24)">
                <path
                  d="M29.8054 23.4443L14.9066 13.2765L18.9737 7.31692C20.322 5.34121 22.4 3.98204 24.7505 3.53842C27.1009 3.0948 29.5313 3.60307 31.507 4.95141C33.4827 6.29975 34.8419 8.37771 35.2855 10.7282C35.7291 13.0786 35.2209 15.509 33.8725 17.4847L29.8054 23.4443ZM27.7718 26.4241L23.7047 32.3836C22.3564 34.3593 20.2784 35.7185 17.928 36.1621C15.5775 36.6057 13.1471 36.0974 11.1714 34.7491C9.19567 33.4008 7.8365 31.3228 7.39289 28.9723C6.94927 26.6219 7.45753 24.1915 8.80587 22.2158L12.873 16.2562L27.7718 26.4241Z"
                  fill="#120E14" />
              </g>
              <defs>
                <clipPath id="clip0_199_24">
                  <rect width="40" height="40" fill="white" />
                </clipPath>
              </defs>
            </svg></div>
          <div class="why-me__title">2 вида наращивания: микро и нано-капсулы</div>
          <div class="why-me__text">Клиенты могут выбрать наиболее подходящий метод исходя из своих предпочтений
            и требуемого результата</div>
        </div>
        <div class="why-me__item">
          <div class="why-me__img"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" viewBox="0 0 40 38"
              fill="none">
              <path
                d="M8.51498 28.7439C11.5409 28.4308 12.7016 21.71 12.5543 19.5894C12.7274 19.4157 15.2691 21.3349 15.1236 18.3801C13.6248 19.8607 12.9617 17.8161 13.5076 16.9199C14.053 16.0243 14.4667 16.0922 14.7704 15.5432C15.0732 14.9937 15.2125 11.7836 16.283 11.6657C17.8385 13.6609 18.957 13.1184 18.5003 12.02C17.8795 13.2413 17.1332 11.184 17.9298 10.6117C18.9462 9.90322 20.0338 10.073 21.0553 12.0334C21.3116 12.8262 21.095 15.0781 21.2342 15.5649C21.372 16.0504 23.0465 17.8897 23.0465 18.6096C23.0465 19.3296 21.9949 18.8834 21.9382 19.1103C21.8827 19.3372 21.7656 19.6147 21.928 19.8404C22.1132 20.0965 22.6233 20.1662 22.6233 20.3816C22.6233 20.7886 22.0225 21.0916 22.0225 21.0916C22.0225 21.0916 22.5087 21.4248 22.4986 21.8014C22.4885 22.1753 21.6214 21.8761 21.6081 22.2172C22.9079 26.4078 18.2226 23.5176 16.698 24.3024C15.1727 25.087 13.3628 28.8263 15.1853 32.33C17.0091 35.8324 30.1023 39.753 35.4073 36.584C40.711 33.4138 40.1531 29.8061 39.769 26.7005C39.3848 23.5925 36.0295 22.1132 34.0182 23.2604C32.4437 24.0527 32.9211 26.2418 34.2057 26.6171C34.1844 23.8029 39.0738 26.8248 35.9465 28.8276C32.8179 30.8291 29.834 26.6171 29.13 24.7612C28.426 22.9054 28.6124 21.9458 28.3845 19.5907C28.1576 17.2356 27.1211 13.7104 27.1211 13.7104C27.1211 13.7104 25.9888 3.50118 15.4562 0.762601C4.92419 -1.97609 -0.0345044 6.989 0.000118998 10.4159C0.0145724 11.7944 0.178305 13.6052 0.371592 15.3341C0.477403 16.2779 -0.0194038 17.1969 0.0825247 18.0055C0.25823 19.3992 0.911867 19.1521 1.0152 20.7784C1.029 21.5997 2.13296 21.8622 2.34081 22.2172C2.54866 22.5721 2.1884 23.2388 2.50584 23.7394C2.82575 24.2415 3.68098 24.1705 4.03929 24.5113C4.39836 24.8537 5.49035 29.0545 8.51498 28.7439Z"
                fill="#120E14" />
            </svg></div>
          <div class="why-me__title">Премиальное качество</div>
          <div class="why-me__text"> Мы используем только высококачественные материалы и последние технологии для
            создания натурального и долговременного результата</div>
        </div>
        <div class="why-me__item">
          <div class="why-me__img"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="40" viewBox="0 0 32 40"
              fill="none">
              <path
                d="M10.1852 39.3295L31.6942 40C31.6942 40 31.3722 39.5837 30.8627 38.9245C30.8627 38.9245 32.4351 17.8251 30.2425 9.41791C28.4802 2.66426 22.5893 0.794383 20.3378 0.320074C20.3026 0.294328 20.28 0.278601 20.28 0.278601C20.1341 0.257164 19.9969 0.246499 19.8523 0.228293C19.5956 0.184881 19.4484 0.170446 19.4484 0.170446L19.4522 0.179818C11.8111 -0.706428 6.55182 1.89554 4.64036 3.37922C1.22012 6.22088 2.1849 11.5752 2.82402 13.2218C2.84094 13.286 2.85483 13.3532 2.87056 13.4187C2.51076 13.4923 1.9479 13.4923 1.49697 12.8545C1.30759 13.7716 2.3718 13.9068 2.95168 13.9161C3.01448 14.5263 2.93724 15.1873 2.52272 15.8118C1.65037 17.1219 0.676759 17.7193 0.362205 18.5981C-0.0844193 19.8232 2.26731 20.0358 2.26731 20.0358L2.27237 20.5012C2.27237 20.5012 1.51884 21.2308 1.67859 21.8019C1.89243 22.5655 3.40756 22.2949 3.40756 22.2949C3.40756 22.2949 1.95275 22.832 2.02137 23.5403C2.08988 24.2498 2.69745 24.5568 2.69745 24.5568C2.69745 24.5568 1.28863 27.3241 3.36103 27.9355C5.43213 28.5442 9.638 26.0159 10.1851 28.972C10.7147 31.0098 13.0745 36.0163 12.2563 36.9522C11.4388 37.8906 10.1852 39.3295 10.1852 39.3295Z"
                fill="#120E14" />
            </svg></div>
          <div class="why-me__title">Гарантия носки</div>
          <div class="why-me__text"> Мы предоставляем гарантию на весь период носки наших наращенных волос. Вы можете
            быть уверены в качестве и долговечности нашей работы </div>
        </div>
        <div class="why-me__item">
          <div class="why-me__img"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
              fill="none">
              <path
                d="M38.9844 32.2031L17.8125 39.6406L7.78125 11.2812L10.8438 7.21875C11.1719 7.3125 11.5156 7.40625 11.8594 7.51562C13.9688 8.20312 15.7031 9.125 16.8594 10.1406C16.3281 11.0469 16.1875 12.1562 16.5625 13.2188C17.2344 15.125 19.3281 16.1406 21.2344 15.4688C23.1406 14.7969 24.1563 12.7031 23.4844 10.7969C22.8125 8.89062 20.7188 7.875 18.8125 8.54688C18.7656 8.5625 18.7344 8.57812 18.6875 8.59375C17.0625 7.0625 14.7188 5.90625 12.2812 5.14062L15.8906 0.328125L28.9688 3.59375L38.9844 32.2031ZM12.2187 5.20312C9.5 4.1875 3.67188 3.75 0.453125 4.03125L0.46875 6.375C3.23438 6.125 8.32812 6.46875 10.7969 7.1875L12.2187 5.20312Z"
                fill="#120E14" />
            </svg></div>
          <div class="why-me__title">Доступные цены</div>
          <div class="why-me__text"> Мы стремимся к соотношению высокого уровня услуги и доступности для клиентов,
            предлагая оптимальные варианты по цене и качеству</div>
        </div>
      </div>
    </div>
  </section> 

		<section class="invite">
    <div class="container">
      <div class="invite__wrapper">
        <div class="invite__image">
          <h1 class="invite__title">Зови подругу!</h1>
          <div class="invite__text">Дарим 1000 ₽ за каждую подругу </div>
        </div>
        <div class="invite__description">
          <div class="invite__description-title">Пригласите подругу и получите 1000 ₽ на наши услуги для каждой из вас!
          </div>
          <div class="invite__description-text">Делитесь красотой вместе и получайте выгоду от нашей особенной акции для вас и ваших близких!</div>
          <div class="invite__surprise">
           
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="57" viewBox="0 0 56 57" fill="none">
              <g clip-path="url(#clip0_1_381)">
                <path
                  d="M31.2656 34.0254V56.5002H49.7545C52.1575 56.5002 54.1064 54.5525 54.1064 52.1481V34.0254H31.2656Z"
                  fill="#E9D1CD" />
                <path
                  d="M24.7282 34.0254H1.89551V52.1481C1.89551 54.5525 3.84496 56.5002 6.24769 56.5002H24.7282V34.0254ZM7.82878 51.9331C6.9265 51.9331 6.19447 51.201 6.19447 50.299V41.231C6.19447 40.3288 6.92664 39.5968 7.82878 39.5968C8.73092 39.5968 9.46309 40.3291 9.46309 41.231V50.299C9.46309 51.201 8.73106 51.9331 7.82878 51.9331Z"
                  fill="#E9D1CD" />
                <path
                  d="M51.1696 16.9829H42.9956C44.1238 16.4413 45.0702 15.8819 45.6425 15.3102C49.0094 11.9439 49.0094 6.48318 45.6425 3.11627C43.957 1.43302 41.7503 0.591538 39.5438 0.591538C37.3368 0.591538 35.1297 1.43302 33.4465 3.11627C32.0484 4.5147 30.7035 7.96639 29.6055 11.5233C29.0926 11.3825 28.5648 11.2839 28.0095 11.2839C27.4561 11.2839 26.9281 11.3827 26.4176 11.5223C25.3153 7.9333 23.9577 4.43474 22.5466 3.02459C20.8632 1.34135 18.6586 0.5 16.4495 0.5C14.2427 0.5 12.0359 1.34149 10.3525 3.02459C6.98571 6.39274 6.98571 11.8523 10.3525 15.2185C10.9548 15.8235 11.9696 16.415 13.1871 16.9829H4.8303C2.42744 16.9829 0.480469 18.9305 0.480469 21.3331V25.0349C0.480469 27.4377 2.42744 29.3844 4.8303 29.3844H24.7282V17.1555H31.2653V29.3844H51.1698C53.5724 29.3844 55.5196 27.4375 55.5196 25.0347V21.333C55.5195 18.9305 53.5722 16.9829 51.1696 16.9829ZM36.5284 6.19795C37.3327 5.39313 38.4049 4.94937 39.5438 4.94937C40.6841 4.94937 41.7549 5.39313 42.5616 6.19795C43.3659 7.00318 43.8086 8.07378 43.8086 9.21332C43.8086 10.3529 43.3659 11.4233 42.5656 12.2234C41.6653 13.0728 38.1394 14.3961 33.7806 15.6287C33.6574 15.206 33.491 14.8061 33.2806 14.4271C34.4681 10.3254 35.7153 7.05749 36.5284 6.19795ZM13.434 6.10641C14.2386 5.30215 15.311 4.85838 16.4497 4.85838C17.5902 4.85838 18.6608 5.30104 19.4628 6.1042C20.2824 6.97147 21.5442 10.2817 22.7401 14.426C22.5422 14.7813 22.385 15.1561 22.2613 15.5506C17.8819 14.3165 14.3342 12.9865 13.4339 12.1376C11.7719 10.4744 11.7719 7.76953 13.434 6.10641Z"
                  fill="#E9D1CD" />
              </g>
              <defs>
                <clipPath id="clip0_1_381">
                  <rect width="56" height="56" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>  

	<section class="request" id='request'>
    <div class="container">
      <div class="request__wrapper">
        <div class="request__form">
          {{> title addClassName="title__block" title="Забронируйте свой стиль: Запишитесь прямо сейчас!"}}

          <form id="form" action="#" method="POST" class='form-two'>
            <input pattern="[A-Za-zА-Яа-яЁё\s]+" maxlength="15" minlength='2' class='form__name' type="text" name="name"
              id="name" placeholder="Имя*" title="Пожалуйста, введите допустимое имя" required>
            <input minlength='18' type="tel" pattern="\+[0-9]{1,3}\s?\([0-9]{3}\)\s?[0-9]{3}-[0-9]{2}-[0-9]{2}"
              name="tel" id="phone-number" class='form__phone' placeholder="+7 (___) ___-__-__*"
              title="Пожалуйста, введите допустимый номер телефона" required>
            <textarea id="comment" class='form__text'
              placeholder="Комментарий (необязательное поле).&nbsp;Здесь вы можете оставить комментарий об индивидуальной особенности ваших волос, предпочтительной дате записи и т. д."></textarea>
            {{!-- <div id="charCountTwo" class='char-counts'></div> --}}
            <button class='button button__pink button-validate'>Записаться<svg xmlns='http://www.w3.org/2000/svg'
                width='16' height='16' viewBox='0 0 16 16' fill='none'>
                <g clip-path='url(#clip0_179_39)'>
                  <path
                    d='M11.4198 1.89032C11.5965 1.7137 11.8061 1.57361 12.0369 1.47803C12.2676 1.38245 12.5149 1.33325 12.7647 1.33325C13.0145 1.33325 13.2618 1.38245 13.4926 1.47803C13.7233 1.57361 13.933 1.7137 14.1096 1.89032C14.2862 2.06693 14.4263 2.27659 14.5219 2.50735C14.6175 2.7381 14.6666 2.98542 14.6666 3.23519C14.6666 3.48495 14.6175 3.73227 14.5219 3.96302C14.4263 4.19378 14.2862 4.40345 14.1096 4.58006L5.03171 13.6579L1.33331 14.6666L2.34197 10.9682L11.4198 1.89032Z'
                    stroke='#C5C2CC' stroke-linecap='round' stroke-linejoin='round' />
                </g>
                <defs>
                  <clipPath id='clip0_179_39'>
                    <rect width='16' height='16' fill='white' />
                  </clipPath>
                </defs>
              </svg></button>




          </form>

          <p>Нажимая на кнопку, я принимаю <a href=" /documents/Политика_конфиденциальности_Москвитина_1.pdf"
              download>условия пользовательского соглашения</a> и даю согласие на обработку своих <a href="/documents/Политика_конфиденциальности_Москвитина_1.pdf" download>персональных
              данных.</a></p>

          <div class="request__photo">
           
          </div>

        </div>

      </div>
    </div>
  </section> 

		<footer class="footer" id='footer'>
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__top">
          <div class="footer__map">
            <div style="position:relative;overflow:hidden;height:100%;display:block;border-radius: 100px;"><a
                href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a
                href="https://yandex.ru/maps/2/saint-petersburg/house/tolubeyevskiy_proyezd_24/Z0kYdQJhQEIGQFhqfXx2eHVjYA==/?ll=30.353008%2C60.079756&utm_medium=mapframe&utm_source=maps&z=15.23"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Толубеевский проезд, 24
                —
                Яндекс Карты</a><iframe
                src="https://yandex.ru/map-widget/v1/?ll=30.353008%2C60.079756&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyMTA3NzAxOTM3EnnQoNC-0YHRgdC40Y8sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQv9C-0YHRkdC70L7QuiDQn9Cw0YDQs9C-0LvQvtCy0L4sINCi0L7Qu9GD0LHQtdC10LLRgdC60LjQuSDQv9GA0L7QtdC30LQsIDI0IgoN1NDyQRXSUXBC&z=15.23"
                width="100%" height="100%" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
          </div>
          <div class="footer__search">
            {{> title addClassName="title__black" title="Как нас найти"}}
            <div class="footer__address">
              <svg xmlns="http://www.w3.org/2000/svg" width="78" height="94" viewBox="0 0 78 94" fill="none">
  <g filter="url(#filter0_d_402_1177)">
    <path d="M37 13C23.746 13 13 23.746 13 37C13 42.219 14.711 47.008 17.555 50.93C17.606 51.024 17.614 51.129 17.672 51.219L33.672 75.219C34.414 76.332 35.664 77 37 77C38.336 77 39.586 76.332 40.328 75.219L56.328 51.219C56.387 51.129 56.394 51.024 56.445 50.93C59.289 47.008 61 42.219 61 37C61 23.746 50.254 13 37 13ZM37 45C32.582 45 29 41.418 29 37C29 32.582 32.582 29 37 29C41.418 29 45 32.582 45 37C45 41.418 41.418 45 37 45Z" fill="#120E14"/>
  </g>
  <defs>
    <filter id="filter0_d_402_1177" x="-8" y="0" width="94" height="94" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="2" dy="2"/>
      <feGaussianBlur stdDeviation="7.5"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_402_1177"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_402_1177" result="shape"/>
    </filter>
  </defs>
</svg>
              <p>Санкт‑Петербург, Толубеевский пр., д. 24</p>
            </div>
            <div class="footer__connect">Связаться с нами:</div>
            <div href="#" class="phone">
              {{> phone addClassName="social-phone"}}
              <a href="tel:+79620067992" class="phone__number">+ 7 (962) 006 79 92</a>
            </div>
            <div class="footer__socials">
              {{> whatsapp}}
              {{> telegram}}
              {{> inst}}
            </div>
          </div>
        </div>
        {{> button addClassName="footer__button button__open" title='Записаться'}}
        <div class="footer__bottom">
          <div class="footer__logo">
            <a href='/' class="logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="114" height="72" viewBox="0 0 114 72" fill="none">
                <path d="M87.2002 59.3148V57.0439H88.289V59.3148H87.2002Z" fill="#231300" />
                <path
                  d="M89.5957 43.6015C89.5957 42.1106 90.3785 41.3652 91.9441 41.3652C93.5097 41.3652 94.2898 42.1452 94.2898 43.7053V45.9415H93.201V43.743C93.201 43.0574 93.1183 42.5541 92.9529 42.2365C92.7876 41.9188 92.4568 41.7584 91.9579 41.7584C91.459 41.7584 91.1227 41.9188 90.9463 42.2365C90.7699 42.5573 90.6817 43.0574 90.6817 43.743V46.2969C90.6817 47.0077 90.7864 47.5613 90.9932 47.9639C91.2826 48.4828 91.6409 48.9735 92.0654 49.4358C92.4899 49.8982 92.8151 50.2756 93.0439 50.5712C93.2727 50.8669 93.4794 51.2034 93.6668 51.5809C94.0803 52.4332 94.2898 53.3673 94.2898 54.3832V57.2579C94.2898 58.7488 93.507 59.491 91.9441 59.491C90.3813 59.491 89.5957 58.711 89.5957 57.151V54.704H90.6845V57.1164C90.6845 57.8021 90.7672 58.3053 90.9325 58.623C91.0979 58.9406 91.4287 59.101 91.9276 59.101C92.4265 59.101 92.7628 58.9406 92.9392 58.623C93.1156 58.3022 93.2038 57.8021 93.2038 57.1164V54.6317C93.2038 53.1409 92.8813 51.9614 92.2391 51.0839C92.0323 50.8008 91.7374 50.458 91.3543 50.0554C90.9711 49.6528 90.5825 49.1622 90.1883 48.5835C89.7942 48.0048 89.5985 47.2876 89.5985 46.4384V43.6015H89.5957Z"
                  fill="#231300" />
                <path
                  d="M100.227 57.2928C100.227 58.7585 99.4195 59.4913 97.8015 59.4913C97.3247 59.4913 96.9305 59.4221 96.619 59.2775V66.4076H95.5303V41.5763H96.4619V41.6109C96.8561 41.397 97.3522 41.29 97.9531 41.29C99.4663 41.29 100.222 42.048 100.222 43.5609V57.2897L100.227 57.2928ZM99.1383 43.7056C99.1383 42.9947 99.0667 42.5041 98.9206 42.2336C98.7745 41.9631 98.4603 41.8247 97.9724 41.8247C97.4845 41.8247 97.1427 41.9317 96.947 42.1455C96.7486 42.3594 96.6411 42.7714 96.6218 43.3879V57.1167C96.6218 57.8024 96.6935 58.2867 96.8395 58.5698C96.9856 58.8529 97.3054 58.9944 97.8043 58.9944C98.3032 58.9944 98.6477 58.8654 98.8462 58.6044C99.0419 58.3433 99.1411 57.8716 99.1411 57.1859V43.7056H99.1383Z"
                  fill="#231300" />
                <path
                  d="M106.194 57.2929C106.194 58.7585 105.411 59.4914 103.846 59.4914C102.28 59.4914 101.5 58.7365 101.5 57.2205V32.71H102.589V41.5417C102.942 41.3781 103.385 41.2932 103.926 41.2932C105.439 41.2932 106.194 42.0512 106.194 43.5641V57.2929ZM105.105 43.7056C105.105 42.9948 105.034 42.5041 104.888 42.2336C104.741 41.9632 104.427 41.8248 103.939 41.8248C103.451 41.8248 103.104 41.9317 102.897 42.1456C102.691 42.3594 102.586 42.784 102.586 43.4225V57.1167C102.586 57.8024 102.658 58.2868 102.804 58.5698C102.95 58.8529 103.27 58.9944 103.768 58.9944C104.267 58.9944 104.612 58.8655 104.81 58.6044C105.006 58.3434 105.105 57.8716 105.105 57.1859V43.7056Z"
                  fill="#231300" />
                <path
                  d="M16.3538 12.9053L11.8416 59.1052H11.0312L7.04004 12.9053H9.0632L11.9546 49.6696L15.5406 12.9053H16.351H16.3538Z"
                  fill="#231300" />
                <path
                  d="M33.0681 55.3433C33.0681 58.0733 31.6127 59.4352 28.702 59.4352C25.7913 59.4352 24.3359 58.0262 24.3359 55.2112V16.6007C24.3359 13.8738 25.7913 12.5088 28.702 12.5088C31.6127 12.5088 33.0681 13.9178 33.0681 16.7328V55.3433ZM31.0449 16.997C31.0449 15.676 30.9098 14.7639 30.6397 14.2575C30.3696 13.7511 29.7715 13.4995 28.8453 13.4995C27.9192 13.4995 27.2742 13.7291 26.9076 14.1915C26.541 14.6538 26.3591 15.5219 26.3591 16.7988V55.0131C26.3591 56.29 26.4942 57.1895 26.7643 57.7179C27.0344 58.2463 27.6325 58.5105 28.5559 58.5105C29.4793 58.5105 30.127 58.2684 30.4936 57.784C30.8602 57.2996 31.0421 56.4221 31.0421 55.1452V16.997H31.0449Z"
                  fill="#231300" />
                <path d="M41.2217 12.9053H43.2448V58.1176H48.8568V59.1083H41.2217V12.9053Z" fill="#231300" />
                <path
                  d="M65.571 55.3433C65.571 58.0733 64.1156 59.4352 61.2049 59.4352C58.2942 59.4352 56.8389 58.0262 56.8389 55.2112V16.6007C56.8389 13.8738 58.2942 12.5088 61.2049 12.5088C64.1156 12.5088 65.571 13.9178 65.571 16.7328V55.3433ZM63.5478 16.997C63.5478 15.676 63.4128 14.7639 63.1426 14.2575C62.8725 13.7511 62.2744 13.4995 61.3483 13.4995C60.4221 13.4995 59.7771 13.7291 59.4105 14.1915C59.0439 14.6538 58.862 15.5219 58.862 16.7988V55.0131C58.862 56.29 58.9971 57.1895 59.2672 57.7179C59.5373 58.2463 60.1355 58.5105 61.0588 58.5105C61.9822 58.5105 62.63 58.2684 62.9966 57.784C63.3632 57.2996 63.5451 56.4221 63.5451 55.1452V16.997H63.5478Z"
                  fill="#231300" />
                <path
                  d="M73.7852 16.6667C73.7852 13.8958 75.2405 12.5088 78.1512 12.5088C81.0619 12.5088 82.5173 13.9619 82.5173 16.8649V26.1055H80.4941V16.9309C80.4941 15.654 80.3398 14.7199 80.0311 14.1254C79.7223 13.531 79.1049 13.2353 78.1815 13.2353C77.2582 13.2353 76.6297 13.531 76.3017 14.1254C75.9737 14.7199 75.8111 15.654 75.8111 16.9309V24.8506C75.8111 26.5238 76.004 27.7536 76.3899 28.5462C76.9302 29.7351 77.5944 30.8139 78.3855 31.7795C79.1766 32.7482 79.783 33.5502 80.2075 34.1887C80.6319 34.8272 81.0178 35.5631 81.3651 36.3998C82.1369 38.2491 82.5228 40.4256 82.5228 42.9323V55.2741C82.5228 58.045 81.0674 59.4321 78.1567 59.4321C75.246 59.4321 73.7907 57.979 73.7907 55.076V45.9014H75.8138V55.0099C75.8138 56.2869 75.9682 57.221 76.2769 57.8154C76.5856 58.4099 77.203 58.7055 78.1264 58.7055C79.0498 58.7055 79.6782 58.4099 80.0062 57.8154C80.3343 57.221 80.4969 56.2869 80.4969 55.0099V43.4607C80.4969 40.954 80.3039 39.1927 79.918 38.1799C79.3778 36.686 78.7135 35.431 77.9224 34.4183C77.1314 33.4055 76.525 32.6161 76.1005 32.0436C75.676 31.4712 75.2901 30.8548 74.9428 30.1943C74.171 28.6531 73.7852 26.983 73.7852 25.1777V16.6636V16.6667Z"
                  fill="#231300" />
              </svg></a>

          </div>
          <div class="footer__links">
            <ul>
              <li><a href="#technology">Технология</a></li>
              <li><a href="#prices">Цены</a></li>
              <li><a href="#about">Студия</a></li>
              <li><a href="#footer">Контакты</a></li>
              <li><a href="#works">Наши работы</a></li>
            </ul>
          </div>
          {{>button title='Записаться' addClassName="button__black button__open"}}
        </div>
        <a href="/documents/Политика_конфиденциальности_Москвитина_1.pdf" download class="footer__politic"  >Политика конфиденциальности</a>
      </div>

    </div>
  </footer>

		<script type='module' src='/main.js'></script>

	</body>

</html>