<a class='{{addClassName}}' href='tel:+79620067992' class='social-phone'>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		width='26'
		height='26'
		viewBox='0 0 26 26'
		fill='none'
	>
		<g clip-path='url(#clip0_179_129)'>
			<path
				fill-rule='evenodd'
				clip-rule='evenodd'
				d='M25.5327 21.8442C24.7302 24.2091 21.5859 25.3885 19.3395 25.1919C16.2714 24.9229 12.933 23.3449 10.3989 21.607C6.6739 19.0521 3.18467 15.1002 1.15145 10.9065C-0.28549 7.94322 -0.607889 4.29988 1.52933 1.5988C2.31973 0.600389 3.17427 0.0671611 4.45868 0.00497074C6.24056 -0.0790703 6.49017 0.909423 7.10204 2.44906C7.55791 3.60042 8.16631 4.77489 8.50605 5.96828C9.14219 8.19536 6.9183 8.28845 6.6375 10.1088C6.46243 11.2568 7.89765 12.7963 8.54592 13.6149C9.81646 15.2184 11.3435 16.6014 13.0665 17.6536C14.0528 18.257 15.6457 19.3444 16.7758 18.7443C18.5161 17.8199 18.3515 14.9744 20.7851 15.9375C22.0452 16.435 23.2655 17.153 24.4684 17.7816C26.3283 18.7515 26.2417 19.7566 25.5327 21.8442C26.0631 20.2844 25.0023 23.404 25.5327 21.8442Z'
				fill='#E5CFCD'
			/>
		</g>
		<defs>
			<clipPath id='clip0_179_129'>
				<rect width='26' height='26' fill='white' />
			</clipPath>
		</defs>
	</svg></a>