<a href='https://t.me/volos_SP' class='social-tg'>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		width='36'
		height='30'
		viewBox='0 0 36 30'
		fill='none'
	>
		<path
			fill-rule='evenodd'
			clip-rule='evenodd'
			d='M2.06234 14.7029C10.1154 11.1943 15.4854 8.88121 18.1722 7.76365C25.8438 4.57279 27.4379 4.0185 28.4769 4.0002C28.7054 3.99617 29.2163 4.0528 29.5473 4.32136C29.8268 4.54813 29.9037 4.85446 29.9405 5.06946C29.9773 5.28446 30.0231 5.77424 29.9867 6.15694C29.5709 10.525 27.7721 21.1251 26.857 26.0174C26.4697 28.0875 25.7073 28.7816 24.9691 28.8495C23.3649 28.9971 22.1467 27.7894 20.593 26.7709C18.1617 25.1771 16.7882 24.185 14.4282 22.6298C11.7008 20.8325 13.4688 19.8447 15.0232 18.2303C15.4299 17.8078 22.4981 11.3788 22.6349 10.7956C22.652 10.7227 22.6679 10.4508 22.5063 10.3072C22.3448 10.1636 22.1064 10.2127 21.9344 10.2518C21.6905 10.3071 17.8065 12.8743 10.2823 17.9534C9.17983 18.7104 8.18124 19.0793 7.28655 19.0599C6.30022 19.0386 4.40291 18.5022 2.99246 18.0438C1.26249 17.4814 -0.112459 17.1841 0.00726778 16.2291C0.0696291 15.7316 0.754654 15.2229 2.06234 14.7029Z'
			fill='#120E14'
		/>
	</svg></a>