$text-color: #120e14;
$text-color-white: #ece5e4;
$pink-color: #e7d0cd;
$blue-color: #64a1c8;
$bg-color: #665e6d;

$green-color: #78bf68;
//font
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 600;
$font-weight-700: 700;
$font-weight-800: 800;

$fz8: 8px;
$fz10: 10px;
$fz12: 12px;
$fz14: 14px;
$fz15: 15px;
$fz16: 16px;
$fz17: 17px;
$fz18: 18px;
$fz20: 20px;
$fz24: 24px;
$fz28: 28px;
$fz32: 32px;
$fz34: 34px;
$fz41: 41px;
$fz44: 44px;
$fz64: 64px;
$fz88: 88px;

$lh19: 19px;
$lh22: 22px;
$lh24: 24px;
$lh29: 29px;
$lh38: 38px;
$lh50: 50px;
$lh150: 150%;
